<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Create Student</div>

                    <div class="card-body">
                        <form>

                            <div class="mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" class="form-control" v-model="student.name" id="name">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email </label>
                                <input type="email" class="form-control" v-model="student.email" id="email" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="phone" class="form-label">Phone</label>
                                <input type="text" class="form-control" v-model="student.phone" id="phone">
                            </div>
                            <button type="submit" @click.prevent="saveStudent" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">All Student</div>

                    <div class="card-body table-responsive">
                        <table class="table table-dark table-striped">
                            <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Name</td>
                                    <td>Email</td>
                                    <td>Phone</td>
                                    <td>Action</td>
                                </tr>
                            </thead>

                            <tbody>
                                <tr v-for="(student,index) in students.data" :key="student.id">
                                    <td>{{ index + 1 }}</td>
                                    <td>{{ student.name }}</td>
                                    <td>{{ student.email }}</td>
                                    <td>{{ student.phone }}</td>
                                    <td>
                                        <button class="btn btn-primary" @click="editStudent(student.id)" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
                                        <button class="btn btn-danger" @click="deleteStudent(student.id)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <pagination :data="students" @pagination-change-page="getAllStudent"></pagination>
                    </div>
                </div>
            </div>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Student</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="editName" class="form-label">Name</label>
                            <input type="text" class="form-control" v-model="studentEdit.name" id="editName">
                        </div>
                        <div class="mb-3">
                            <label for="editEmail" class="form-label">Email </label>
                            <input type="email" class="form-control" v-model="studentEdit.email" id="editEmail" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="editPhone" class="form-label">Phone</label>
                            <input type="text" class="form-control" v-model="studentEdit.phone" id="editPhone">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="updateStudent(temp_id)" data-bs-dismiss="modal">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        data(){
          return {
              students: {},
              student: {
                  name: '',
                  email: '',
                  phone: ''
              },
              studentEdit: {
                  name: '',
                  email: '',
                  phone: ''
              },
              temp_id: '',
          }
        },
        mounted() {

            this.getAllStudent();

        },
        methods: {
            saveStudent(){
                axios.post('student/store', this.student)
                    .then(res =>{
                        console.log(res);
                        this.getAllStudent();
                    })
            },
            getAllStudent(page = 1) {
                axios.get('student?page=' + page)
                    .then(response => {
                        console.log(response);
                        this.students = response.data;
                    });
            },
            editStudent(id){
                axios.get(`student/${id}/edit`)
                    .then(response=> {
                        this.studentEdit = {
                            name: response.data.name,
                            email: response.data.email,
                            phone: response.data.phone,
                        };;
                    })
            },
            updateStudent(id){
                axios.put(`student/update/${id}`, this.studentEdit)
                    .then(response=> {
                        console.log(response);
                        this.getAllStudent();
                        this.temp_id = '';
                        this.studentEdit = {
                            name: '',
                            email: '',
                            phone: '',
                        }
                    })
            },
            deleteStudent(id){
                if(confirm("Do you really want to delete?")) {
                    axios.delete(`student/delete/${id}`)
                        .then(response => {
                            console.log(response);
                            this.getAllStudent();
                        })
                }
            }
        }
    }
</script>
